############
## Project
############

tmp
vendor
backup
composer.lock
#./index.php
*~
public/*
#!assets/.gitignore
apps/*
tests/runtime/*

############
## Sass & Compass
############
.sass-cache/*
config.rb

############
## Phing
############
build.properties
build.xml
phing-latest.phar


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Vagrant
############
.vagrant/*


############
## PHPStorm
############
.idea/*

