############
## Project
############

tmp/
vendor/
composer.lock
tests/runtime/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Vagrant
############
.vagrant/
provisioning/
Vagrantfile


############
## PHPStorm
############
.idea/

