<!DOCTYPE html>
<!--[if !IE]>--><html class="no-js"><!--<![endif]-->
<head>
<title>Demo</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Language" content="en">
<meta name="robots" content="all">
<meta name="description" content="about">
<link type="image/x-icon" href="/favicon.ico?10" rel="Shortcut Icon">
<link type="application/rss+xml" href="/feed.rss" title="rss" rel="alternate">
<link href="http://site.com/assets/css/main.css" rel="stylesheet" media="screen, projection">
<style>.title {color: #354a57;}</style>
<!--[if lt IE 9]><script src="http://site.com/assets/head.js"></script><![endif]-->
<script type="text/javascript">head = "test"</script>
</head>
<body>
<!--[if lt IE 9]>
<script src="http://site.com/assets/begin.js"></script>
<![endif]-->
<script type="text/javascript">begin = "test"</script>
demo
<!--[if !(IE) | (gt IE 8)]>
<link href="http://site.com/assets/css/footer.css" rel="stylesheet" media="screen, projection">
<![endif]-->
<script src="http://site.com/assets/end.js"></script>
<script type="text/javascript">end = "test"</script>
</body>
</html>