[[+title:notEmpty&is=`@INLINE[[!+title]]`]]
[[!+title:notEmpty&is=`@INLINE[[!+output]]`]]
[[!+title:notEmpty&is=`@rockunit.tpl\subchunk`&addPlaceholders=`{"0" : "title", "custom" : "foo"}`]]
[[!+title:notEmpty&is=`@INLINE[[$@rockunit.tpl\subchunk?title=`[[!+title]]`?custom=`foo`]]`]]
[[+content:empty&is=`@INLINE[[+title]]`]]
[[+content:empty&is=`@rockunit.tpl\subchunk`]]
[[+content:notEmpty&is=`@INLINE[[+output]]`]]

{* sugar *}
[[+title && `[[!+title]]`]]
[[!+title && `[[!+output]]`]]
[[!+title:md5 && `[[+output]]`]]
[[+content && `[[+content]]`]]
[[+content || `[[!+title]]`]]
[[!+title || `[[+content]]`]]

[[!+title
    :if
        &isnot=``
        &then=`[[!+output]]`
]]
[[+title
    :if
        &isnot=``
        &then=`[[!+title]]`
]]
[[+content
    :if
        &is=`null`
        &then=`[[!+title]]`
]]
[[+content
    :if
        &isnot=``
        &then=`content`
        &else=`[[!+title]]`
]]
[[+content
    :if
        &isnot=`null`
        &then=`content`
]]

[[+title
    isnot ``
    ? `[[!+title]]`
]]
[[!+title
    isnot ``
    ? `[[!+output]]`
]]
[[+content is `null` ? `[[!+title]]`]]
[[+content isnot `` ? `content` : `[[!+title]]`]]
[[+content isnot `` ? `content`]]

{* gte, lte,... *}
[[+number gte `3` ? `success` : `fail`]]
[[+number gte `4` ? `success` : `fail`]]
[[+number lte `3` ? `success` : `fail`]]
[[+number lte `2` ? `success` : `fail`]]

[[+number gt `2` ? `success` : `fail`]]
[[+number gt `3` ? `success` : `fail`]]
[[+number lt `4` ? `success` : `fail`]]
[[+number lt `3` ? `success` : `fail`]]

{* in_array *}
[[+number in_array `foo,3,5` ? `success` : `fail`]]
[[+number in_array `8,4,5` ? `success` : `fail`]]